
.cell{display: inline-block;}

.btn{
    padding: 0;
    border: none;
}

.btn-prymary{padding:0}

.transp{opacity: 0;}

.counter{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    border-radius: 20px;
    box-shadow: inset rgb(104, 45, 16) 3px 3px 8px .1px; 
    width: 20vw;
    margin-top: 30px;
    height: 60px;
    background-color: rgb(252, 208, 186);
    border:2px solid rgb(121, 67, 12);
}

.labelClass{
    margin-top: 2px;
}

.win{
    opacity: 0.1;
}

.bannerWin{
    width: 400px;
    height: 400px;
    font-size: 50px;
    font-weight: bolder;
    position: absolute;
}


.winLabel{
    margin: auto;
    color: aqua;
    height: 400px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    text-shadow: 5px 5px 5px  black;
}