<div class="home" >
    <div class="bannerWin" *ngIf="win==true">
        <p class="winLabel">HAI VINTO </p>
    </div>
    <div class="gameC" [ngClass]=" win == true ? 'win' : ''">
       
            <div *ngFor="let num of numeri; index as i" class="cell">

                <app-cell [ngClass]="{'transp' : num=='' }"  [num]="num" class="btn" (click)="getPos(i)" ></app-cell>
            </div>
       
    </div>
   
   
</div>

<div class="container counter">
    <div class="row">
        <div class="col-xl-12 labelClass">    
           Numero mosse
            </div>
        <div class="col-xl-12">    
        {{numeroMosse}}
        </div>
    </div>
</div>