/* You can add global styles to this file, and also import other style files */

.gameContainer{
    justify-content: center;
    display: flex;
    margin:0;
}
.home4{
    
    box-shadow: inset 0px 0px 15px 30px rgb(119, 58, 18);
    border-radius: 10px;
    height: 400px;
    width: 400px;
    margin-right: 10px;
}

.home5{
    margin: auto; 
    box-shadow: inset 0px 0px 15px 30px rgb(119, 58, 18);
    width: 500px;
    height: 500px;
    border-radius: 10px;
}


.home6{
    margin: auto; 
    box-shadow: inset 0px 0px 15px 30px rgb(119, 58, 18);
    width: 600px;
    height: 600px;
    border-radius: 10px;
    
}

.gameB{
    padding: 47px;
    border-radius: 10px;
    
}

.gameC4{
    height: 330px;
    width: 330px;
    box-shadow: 0px 0px 25px 20px black;
    margin-left: 35px;
    margin-top: 35px;
    display: table-caption;
    border-radius: 10px;
    background-color: rgb(28, 15, 7);
}


.gameC5{
    height: 415px;
    width: 415px;
    box-shadow: 0px 0px 25px 20px black;
    margin-left: 45px;
    margin-top: 45px;
    display: table-caption;
    border-radius: 10px;
    background-color: rgb(28, 15, 7);
}



.gameC6{
    height: 493px;
    width: 493px;
    box-shadow: 0px 0px 25px 20px black;
    margin-left: 55px;
    margin-top: 55px;
    display: table-caption;
    border-radius: 10px;
    background-color: rgb(28, 15, 7);
}


body{  background-color:  rgba(70, 44, 26, 0.648);}


body{  
    background-color:  rgba(255, 219, 172, 0.336) !important;
}